body {
	/* Page should span the whole viewport; needs margin 0.
	Apply padding to body's children instead. */
	height: 100vh;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: sans-serif;
}

body > * {
	/* Give all flex children a little padding */
	padding: 10px;
}

header {
	width: 100%;
	box-sizing: border-box;
}

#browser-urlbar {
	/* Ensure icons and search bar are on one line and not line-broken */
	display: flex;
	flex-wrap: nowrap;
	/* vertical centering of icons and search bar with different line heights */
	align-items: center;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
}

#browser-urlbar .icon {
	font-size: 30px;
	padding: 5px;
}

#browser-urlbar #url {
	/* Let the url input fill the rest of the header line */
	flex-grow: 1;
}




main {
	text-align: center;
	/* Initially hidden, will be shown when JS plays the search animation */
	opacity: 0;
	transition: opacity 0.5s ease;
}

input[type="text"] {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input.query {
	width: 50%;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#submit-button-row {
	/* Force search button and cursor to be on one line */
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

#cursor {
	font-size: 30px;
	/* Move cursor over the search button left to it */
	position: relative;
	left: -50px;
	bottom: -10px;
	/* For better visibility, like a real cursor */
	text-shadow: orange 0 0 20px;
	/* Initially hidden, will be shown when JS plays the search animation */
	opacity: 0;
	transition: opacity 0.5s ease;
}