:root {
	/* Define Colors */
	--bg-color: #2e3440;
	--bright-bg-color: #434c5e;
	--primary: #d8dee9;
	--ggs: 1;
}

html,
body {
	/* Use body as root flex element */
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: sans-serif;
	background-color: var(--bg-color);
	color: var(--primary);
}

#browser-urlbar {
	/* Ensure icons and search bar are on one line and not line-broken */
	display: flex;
	flex-wrap: nowrap;
	align-self: stretch;
	/* vertical centering of icons and search bar with different line heights */
	align-items: center;
	padding: 5px;
	margin: 5px;
	border: 1px solid;
	border-radius: 5px;
}

#browser-urlbar .icon {
	font-size: 30px;
	padding: 5px;
}

#browser-urlbar #url {
	/* Let the url input fill the rest of the header line */
	flex-grow: 1;
	margin: 0 5px;
}




main {
	text-align: center;
	/* Initially hidden, will be shown when JS plays the search animation */
	opacity: 0;
	transition: opacity 0.5s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#search-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}


input[type="text"] {
	padding: 10px;
	font-size: 16px;
	border: 1px solid var(--bright-bg-color);
	border-radius: 5px;
	box-sizing: border-box;
	background-color: var(--primary);
}

#query {
	/* Implement wide enough search bar which is also reponsive */
	max-width: 584px;
	width: 90%;
	margin-bottom: 15px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid var(--bright-bg-color);
	background-color: var(--bright-bg-color);
	color: var(--primary);
}

button:hover {
	border: 1px solid var(--primary);
}

#submit-button-row {
	/* Force search button and cursor to be on one line */
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

#cursor {
	/* Move cursor over the search button left to it */
	position: relative;
	left: 20px;
	bottom: -70px;
	/* For better visibility, like a real cursor */
	text-shadow: orange 0 0 20px;
	/* Initially hidden, will be shown when JS plays the search animation */
	opacity: 0;
	transition: opacity 0.5s ease, bottom 1.5s ease, left 1.5s ease;
}

#cursor i {
	/* Increase cursor size */
	transform: scale(2) !important;
}

#info {
	margin-bottom: 5em;
	font-size: 1.5em;
}